#theme-toggle-icon {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

#theme-toggle-icon .material-icons {
	position: absolute;
	top: 0;
	left: 0;
}

#theme-toggle-icon .material-icons.dark {
	color: var(--pico-muted-color);
	opacity: 0;
}

#theme-toggle-icon .material-icons.light {
	color: var(--pico-primary);
	opacity: 0;
}

[data-theme='dark'] #theme-toggle-icon .material-icons.light {
	opacity: 1;
}

[data-theme='dark'] #theme-toggle-icon .material-icons.dark {
	opacity: 0;
}

[data-theme='light'] #theme-toggle-icon .material-icons.light {
	opacity: 0;
}

[data-theme='light'] #theme-toggle-icon .material-icons.dark {
	opacity: 1;
}

:root {
	--pico-font-size: 95%;
}

img {
	width: 100%;
	height: auto;
}

@media (min-width: 1201px) {
	.display-img {
		width: 60vw;
	}
}

@media (max-width: 1200px) {
	img {
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 70vw;
		height: auto;
	}
}

@media (max-width: 500px) {
	img {
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 60vw;
		height: auto;
	}

	.display-img {
		width: 70vw;
	}
}

h1 {
	margin-top: 10px;
	margin-bottom: 30px;
	text-align: center;
}

nav {
	margin-bottom: 30px;
}

figure > * {
	display: flex;
	justify-content: center;
}

@media (min-width: 1280px) {
	.container {
		max-width: 950px;
	}
}

.load {
	display: block;
	margin: 20px auto 60px;
}

.tagline {
	width: 66%;
	margin: 0 auto 40px;
	text-align: center;
}

.button-container {
	display: flex;
	justify-content: center;
	gap: 30px;
	margin-bottom: 60px;
}
