@import 'tailwindcss';
@import '@fontsource-variable/lora';

@theme {
	--color-gray-warm-50: #faf8f6;
	--color-gray-warm-100: #efe1d8;
	--color-gray-warm-200: #d3c6bd;
	--color-gray-warm-300: #b7aca3;
	--color-gray-warm-400: #9c938a;
	--color-gray-warm-500: #827a72;
	--color-gray-warm-600: #69635a;
	--color-gray-warm-700: #514c44;
	--color-gray-warm-800: #3a362f;
	--color-gray-warm-900: #25221b;
	--color-gray-warm-950: #100d02;

	--font-sans:
		'Lora', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;

	--color-text-primary: rgb(239 225 216 / 0.95);
}

body {
	background-color: #100d02;
	color: var(--color-text-primary);
	margin: 0;
	padding: 0;
}
