<nav class="mx-auto px-0.5 my-4">
	<div class="container flex items-center justify-between">
		<a href="/" class="text-xl font-semibold text-gray-warm-100 hover:text-gray-warm-300 transition-colors">
			OnView
		</a>
		<ul class="flex gap-4">
			<li>
				<a
					href="/explore"
					class="text-gray-warm-100 p-2 hover:text-gray-warm-100/30 transition-colors"
				>
					Explore
				</a>
			</li>
			<li>
				<a
					href="/search"
					class="text-gray-warm-100 p-2 hover:text-gray-warm-100/30 transition-colors"
				>
					Search
				</a>
			</li>
			<li>
				<a
					href="/random"
					class="text-gray-warm-100 p-2 hover:text-gray-warm-100/30 transition-colors"
				>
					Random
				</a>
			</li>
		</ul>
	</div>
</nav>
