<nav class="mx-auto my-4 shrink-0">
	<div class="flex items-center justify-between">
		<a
			href="/"
			class="text-xl ml-2 text-primary hover:opacity-50 transition-opacity duration-200"
		>
			OnView
		</a>
		<ul class="flex gap-4 items-center">
			<li>
				<a
					href="/explore/"
					class="text-primary p-2 hover:opacity-50 transition-opacity duration-200"
				>
					Explore
				</a>
			</li>
			<li>
				<a
					href="/search/"
					class="text-primary p-2 hover:opacity-50 transition-opacity duration-200"
				>
					Search
				</a>
			</li>
			<li>
				<button
					onclick="navigateToRandomArtwork(event)"
					class="text-primary p-2 hover:opacity-50 transition-opacity duration-200 cursor-pointer"
				>
					Random
				</button>
			</li>
		</ul>
	</div>
</nav>
