<nav class="mx-auto my-4">
	<div class="flex items-center justify-between">
		<a href="/" class="text-xl ml-2 font-semibold text-gray-warm-100 hover:text-gray-warm-300 transition-colors">
			OnView
		</a>
		<ul class="flex gap-4">
			<li>
				<a
					href="/explore"
					class="text-gray-warm-100 p-2 hover:text-gray-warm-100/30 transition-colors"
				>
					Explore
				</a>
			</li>
			<li>
				<a
					href="/search"
					class="text-gray-warm-100 p-2 hover:text-gray-warm-100/30 transition-colors"
				>
					Search
				</a>
			</li>
			<li>
				<a
					href="#"
					onclick="navigateToRandomArtwork(event)"
					class="text-gray-warm-100 p-2 hover:text-gray-warm-100/30 transition-colors cursor-pointer"
				>
					Random
				</a>
			</li>
		</ul>
	</div>
</nav>
